* {
    box-sizing: border-box;
}

.list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.tab input,
.tab label {
    display: block;
}

.tab input,
.tab-content {
    display: none;
}

.tab label {
    padding: 5px 10px;
    border: 1px solid grey;
    transform: translateY(1px);
    transition: .2s;
}

.tab input:checked+label {
    border-bottom-color: white;
}

.tab-content.checked {
    display: block;
}

.tab {
    margin-left: 10px;
}

.tab-content {
    padding: 30px;
    border: 1px solid grey;
}